@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Libre+Franklin:ital,wght@0,800;1,800&family=Oswald:wght@200..700&display=swap');

:root{
--clr-Purple-100: #dacffc;
--clr-Purple-500: #7650dc;

--clr-Yellow-100: #f9eee1;
--clr-Yellow-500: #ffcb6b;

--clr-White: #ffffff;
--clr-Black: #121212;

--ff-main:"DM Sans", sans-serif;
--fs-body:1.125rem;
--fs-heading:1.75rem;
--fw-400:400;
--fw-500:500;
}

*,*::before,*::after{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}
img{
    max-width: 80%;
    display: block;
}
body{
    font-family: var(--ff-main);
    font-size: var(--fs-body);
    font-weight: var(--fw-400);
    line-height: 1.3;
    color: var(--clr-Black);
    background-color: #f1f1f1;
    padding: 2rem 1rem;
}
/* helper class */
.grid{
    display: grid;
    gap: 1rem;
}
/* text styles */

h1{
    font-size: 2.75rem;
    font-weight:var(--fw-500);
}
h2{
    font-size: var(--fs-heading);
    font-weight:var(--fw-500);
    line-height:0.95;
}
small{
    font-size: var(--fs-body);
}
/* lyout styles */
.bento-grid-item-element{
border-radius:0.5rem;
padding: 1rem;
}
.bento-grid-container{
 display: grid;
 grid-template-rows: repeat(3,13rem);
 grid-template-columns: 1fr 2fr 1fr;
 grid-template-areas: 
 'column1 column2 column3'
 'column1 column2 column3'
 'column1 column4 column4';
 max-width: 60rem;
 margin-inline:auto;
gap: 1rem;
}
.bento-grid-container>*,.inside-element{
    display: grid;
    gap: 1rem;
}
.inside-element{
    grid-template-columns: 1fr 1fr;
}
.inside-element:nth-child(1){
    grid-template-columns: 0.95fr 2fr;
}
.column-one{
    grid-area: column1;
}
.column-two{
grid-area: column2;
}
.column-three{
grid-area: column3;
}
.column-four{
   grid-area: column4; 
}

/* uicomponent
 */
 .create{
    background-color: var(--clr-Yellow-100);
    
    place-content: center;
    
    padding: 2rem !important;
 }
 .content{
    background-color:var(--clr-Yellow-500);
    place-content: center;
    padding: 1.5rem;
 }
 .media{
    background-color:var(--clr-Purple-500);
    color: #ffffff;
    text-align: center;
    place-content: center;
 }
 .media img{
    max-width: 10rem;
    margin-inline: auto;
 }
 .manage{
    background-color: var(--clr-White);
    position: relative;
    overflow-x: hidden;
 }
 .manage img{
    max-width: 100%;
    position: relative;
    right: -2rem;
    margin-bottom: 1rem;
 }
 .posting{
    background-color: var(--clr-Yellow-500);
    position: relative;
    overflow: hidden;
 }
 .posting img{
    position: absolute;
    bottom:-4rem;
    left: 1.3rem;
 }
 .schedule{
    background-color: var(--clr-Purple-100);
    place-content: center;
    padding-left:1.5rem ;
    overflow: hidden;
 }
 .schedule img{
    max-width: 100%;
    position: relative;
    right:-1.5rem ;

 }
.audiance{
    background-color: var(--clr-White);
    place-content: center;
}
.follower{
    background-color: var(--clr-Purple-500);
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding: 2;
    color: var(--clr-White);
}
/* media query */
@media screen  and (max-width:950px) {
    .bento-grid-container{
        
        grid-template-rows: repeat(3,13rem);
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        'column2 column3'
        'column2 column3'
        'column4 column4'
        'column1 column1'
        ;
               } 
       
       .column-one{
        grid-template-columns: repeat(2,1fr);
       }
} 
@media screen  and (max-width:650px) {
    .bento-grid-container{
        gap: 2rem;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'column2 '
        ' column3 '
        'column4'
        'column1  '
        ;
        
       } 
       .bento-grid-container>*,.inside-element{
       
        gap: 2rem;
    }
       .column-one{
        grid-template-columns: repeat(2,1fr);
       }
       .inside-element, .inside-element:nth-child(1),.column-one{
        grid-template-columns:1fr
       }
       
     .manage img{
        max-width: 80%;
        position: relative;
        margin-bottom: 1rem;
     }
     
     .posting img{
        position: relative;
        bottom:-1rem;
     }
     .follower{
        grid-template-columns: 1fr;
        padding: 1rem;
        text-align: center;
       
     }
} 